<!DOCTYPE html>
<html>
<head>
    <title>Quora Clone - Home</title>
</head>
<body>
    <h1>Questions  :</h1>
    <ul>
        {% for question in questions %}
            <li><a href="{% url 'question_detail' question_id=question.id %}">{{ question.text }}</a></li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'post_question' %}">Post a Question</a></p>

    {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}! <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
    
</body>
</html>
